---
---

@import "{{ site.theme }}";

h1{
    text-align: center;
    font-size: 24px;
    }

h1::after{
      content: ""; /* Ajoute un élément pseudo-élément pour représenter le trait */
      display: block;
      width: 100%; /* Ajustez cette valeur pour définir la largeur du trait en pourcentage de la largeur du conteneur parent */
      border-bottom: 4px solid skyblue; /* Épaisseur du trait */
      margin-top: 8px; /* Espace entre le texte et le trait */
    }

h2 {

    font-size: 18px     ;
}

h2::after{
    content: ""; /* Ajoute un élément pseudo-élément pour représenter le trait */
    display: block;
    width: 50%; /* Ajustez cette valeur pour définir la largeur du trait en pourcentage de la largeur du conteneur parent */
    border-bottom: 4px solid skyblue; /* Épaisseur du trait */
    margin-top: 8px; /* Espace entre le texte et le trait */
  }

h3 {
    font-size: 16px;
    text-decoration: underline;
    border-bottom: 4px solid skyblue; /* Épaisseur du trait augmentée à 4px */
    padding-bottom: 10px; /* Espace entre le texte et le trait */
}


h4 {
    font-size: 14px;
    text-decoration: underline;
    border-bottom: 4px solid skyblue; /* Épaisseur du trait augmentée à 4px */
    display: inline-block; /* Permet au trait de s'ajuster à la largeur du texte */
    padding-bottom: 10px; /* Espace entre le texte et le trait */
}

h5 {
    font-size: 12px;
    text-decoration: underline;
}
